<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      angularx-qrcode
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">QRGen angularx-qrcode</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label>Product</ion-label>
    <ion-input type="text" placeholder="" [(ngModel)]="product"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Price</ion-label>
    <ion-input type="number" placeholder="" [(ngModel)]="price"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>URL</ion-label>
    <ion-input type="url" placeholder="" [(ngModel)]="url"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input type="email" placeholder="" [(ngModel)]="email"></ion-input>
  </ion-item>
  <ion-button expand="full" (click)="genQR()">
    <ion-icon slot="start" name="qr-code-outline"></ion-icon>
    Generate QRCode
  </ion-button>
  <div style="align-items: center;">
    <ion-card >
      <qrcode [qrdata]="myAngularxQrCode" [width]="300" [errorCorrectionLevel]="'H'" >
      </qrcode>
    </ion-card>
  </div>

</ion-content>
